<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html ; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale= 1.0, minimum-scale = 1.0">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
	
	<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	
<title>Business Calendar</title>
</head>
<body>
<div class="container-fluid text-center">
	<img th:src="@{/images/SGH-Asia-Logo-Motto-Beside.png}" />
	
	<div th:if="${param.error}">
		<p class="text-danger">Invalid username or password</p>
	</div>
	
	<form th:action="@{/login}" method="post" style="max-width : 350px ; margin : 0 auto;">
		<div class="border border-secondary p-3 rounded" >
			<p>Access to Calendar Control Panel</p>
			<p>
				<input type="email" name="email" class="form-control" placeholder="Email" required autofocus>
			</p>
			
			<p>
				<input type="password" name="password" class="form-control" placeholder="Password" required autofocus>
			</p>
			
			<p>
				<input type="submit" value="Login" class="btn btn-primary">
			</p>
		</div>
	</form>

</div>
	
</body>
</html>